<h1>Carrito de compras</h1>



<ul>
    <div class="card-container" >
  {{#each products}}
      <div class="card">
           <img src={{this.product.image}}> 
        <h3> {{this.product.title}} </h3>
        <p> {{this.product.description}} </p>
        <h3>u$d: {{this.product.price}}</h3>
        <h3>Cantidad: {{this.quantity}}</h3>
    </div>

  {{/each}}
  </div>
  </ul>